page-answeraquery {
    .scroll-content{
        padding: 0px !important;
    }
    p{
        overflow: hidden;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 10px !important;
    }
    .technologies{
        padding: 5px;
        margin: 5px 5px 5px 0px;
        background-color: rgba(72, 138, 255, 0.31);
        border-radius: 5px;
        display: inline-block;
    }
    .postBy{
        color: #000;
    }
    ion-card{
        width: 100% !important;
        margin : 0 !important;
        border-bottom: 1px solid #ccc;
    }
}
