page-search {
    .scroll-content{
        margin-top: 44px;
        position: relative;
        height: 100%;
        overflow: hidden;
    }
    .cards-div{
        margin-top: 44px;
        height: calc(100% - 100px);
        overflow: auto;
    }
    p{
        overflow: hidden;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 10px !important;
    }
    .technologies{
        padding: 5px;
        margin: 5px 5px 5px 0px;
        background-color: #CDDC39;
        border-radius: 5px;
        display: inline-block;
    }
    .postBy{
        color: #000;
    }
    ion-card{
        width: 100% !important;
        margin: 0px !important;
        border-bottom: 1px solid #ccc;
    }
    ion-avatar ion-icon{
        font-size: 3em !important;
    }
    searchbar-ios {
        min-height: 50px !important;
    }

    ion-searchbar{
        position: absolute;
        z-index: 2;
        background-color: #e8f3f5 !important;
        input{
            border-radius: 5px;
        }
    }

    textarea{
        width: 100%;
        height: 100px;
        margin-left: 1px;
        border: 1px solid #ccc;
        padding: 5px;
    }
    .tech{
        background-color: #19374c;
        margin-right: 5px;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 12px;
        color: #fff;
    }
    .reply-name{
        margin: 0px !important;
        color: #003f80;
        font-weight: 600;
    }
    .reply-comment{
        display: block;
        border: 1px solid #ccc;
        background-color: #edf3f5;
        padding: 5px;
        border-radius: 5px;
    }
    .showMore{
        margin-top: 10px;
        display: inline-block;
        color: #5f8594;
    }
}
